* {
    margin:  30px;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    
    font-family: Arial, Helvetica, sans-serif;
    
    
}
  header{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
    

}
h2{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: left;
    background-color: rgb(123, 117, 117);
    
}
img{
    width: 100px;
    height:100px;
    float: left;
}
div{
    margin-left: 200px;
    margin-right: 200px;
}

